In [7]:
!mamba install bs4==4.10.0 -y
!pip install lxml==4.6.4
!mamba install html5lib==1.1 -y
# !pip install requests==2.26.0
from bs4 import BeautifulSoup # this module helps in web scrapping.
import requests  # this module helps us to download a web page

/bin/bash: mamba: command not found
Requirement already satisfied: lxml==4.6.4 in ./.local/lib/python3.8/site-packages (4.6.4)
/bin/bash: mamba: command not found

<h2 id="DSCW">Downloading And Scraping The Contents Of A Web Page</h2>

In [8]:
url = "http://www.ibm.com"
data  = requests.get(url).text 
soup = BeautifulSoup(data,"html.parser")  # create a soup object using the variable 'data'

## Scrape all links

In [9]:
for link in soup.find_all('a',href=True):  # in html anchor/link is represented by the tag <a>

       print(link.get('href'))

https://www.ibm.com/eg/en
https://www.ibm.com/sitemap/eg/en
https://www.ibm.com/events/think/?lnk=eghpv18l1
https://newsroom.ibm.com/Update-on-our-actions-War-in-Ukraine?lnk=hpv18nf1
https://www.ibm.com/it-infrastructure/power/os/ibm-i?lnk=eghpv18f1
https://www.ibm.com/eg-en/analytics/data-fabric?lnk=eghpv18f2
https://www.ibm.com/eg-en/cloud/campaign/cloud-simplicity?lnk=eghpv18f3
https://www.ibm.com/eg-en/consulting?lnk=eghpv18f4
https://www.ibm.com/eg-en/cloud/aiops?lnk=eghpv18f5
https://www.ibm.com/eg-en/about/secure-your-business?lnk=eghpv18f6
/eg-en/products/offers-and-discounts?lnk=hpv18t5
https://www.ibm.com/eg-en/products/unified-endpoint-management?lnk=STW_EG_HPT_T1_BLK&lnk2=trial_MaaS360Wat&psrc=none&pexp=def
https://www.ibm.com/eg-en/cloud/vmware/shared?lnk=STW_EG_HPT_T2_BLK&lnk2=trial_VMware&psrc=none&pexp=def
https://www.ibm.com/eg-en/products/datastage?lnk=STW_EG_HPT_T3_BLK&lnk2=trial_InfoDataStage&psrc=none&pexp=def
https://www.ibm.com/eg-en/cloud/watson-speech-to-text?lnk=STW_EG_HPT_T4_BLK&lnk2=trial_WatsonSpeechText&psrc=none&pexp=def
https://developer.ibm.com/depmodels/cloud/?lnk=hpv18ct16
https://developer.ibm.com/technologies/artificial-intelligence?lnk=hpv18ct19
https://developer.ibm.com/?lnk=hpv18ct9
https://www.ibm.com/docs/en?lnk=hpv18ct14
https://www.redbooks.ibm.com/?lnk=ushpv18ct10
https://www.ibm.com/support/home/?lnk=hpv18ct11
https://www.ibm.com/training/?lnk=hpv18ct15
/cloud/hybrid?lnk=hpv18pt14
/cloud/learn/public-cloud?lnk=hpv18ct1
/watson?lnk=ushpv18pt17
/garage?lnk=hpv18pt13
/blockchain?lnk=hpv18pt4
https://www.ibm.com/thought-leadership/institute-business-value/?lnk=hpv18pt12
/analytics?lnk=hpv18pt1
/security?lnk=hpv18pt9
/financing?lnk=hpv18pt3
https://www.ibm.com/quantum-computing?lnk=hpv18pt16
/cloud/hybrid?lnk=hpv18ct20
/cloud/learn/public-cloud?lnk=hpv18ct1
/cloud/redhat?lnk=hpv18ct13
/watson?lnk=hpv18ct3
https://www.ibm.com/quantum-computing?lnk=hpv18ct18
/cloud/learn/kubernetes?lnk=hpv18ct8
/products/spss-statistics?lnk=ushpv18ct7
/blockchain?lnk=hpv18ct1
https://www.ibm.com/employment?lnk=hpv18ct2
https://www.ibm.com/case-studies/coca-cola-european-partners/?lnk=hpv18cs1
/case-studies/search?lnk=hpv18cs2
#

## Scrape  all images  Tags

In [10]:
for link in soup.find_all('img'):# in html image is represented by the tag <img>
    print(link)
    print(link.get('src'))

<img alt="Man looking at monitor" class="" loading="lazy" src="//1.cms.s81c.com/sites/default/files/2022-05-13/20220503-f-ibm-i-geos-444x254-26606_2.jpg"/>
//1.cms.s81c.com/sites/default/files/2022-05-13/20220503-f-ibm-i-geos-444x254-26606_2.jpg
<img alt="fruit factory band" class="" loading="lazy" src="//1.cms.s81c.com/sites/default/files/2022-05-16/data-fabric-five-levers-444x254.jpg"/>
//1.cms.s81c.com/sites/default/files/2022-05-16/data-fabric-five-levers-444x254.jpg
<img alt="two engineers in a lab" class="" loading="lazy" src="//1.cms.s81c.com/sites/default/files/2022-05-16/cloud-five-levers-444x254.jpg"/>
//1.cms.s81c.com/sites/default/files/2022-05-16/cloud-five-levers-444x254.jpg
<img alt="two engineers at work" class="" loading="lazy" src="//1.cms.s81c.com/sites/default/files/2022-05-16/consulting-five-levers-444x254.jpg"/>
//1.cms.s81c.com/sites/default/files/2022-05-16/consulting-five-levers-444x254.jpg
<img alt="engineer working on a quantum computer" class="" loading="lazy" src="//1.cms.s81c.com/sites/default/files/2022-05-16/automate-five-levers-444x254.jpg"/>
//1.cms.s81c.com/sites/default/files/2022-05-16/automate-five-levers-444x254.jpg
<img alt="developer working at desk" class="" loading="lazy" src="//1.cms.s81c.com/sites/default/files/2022-05-16/security-five-levers-444x254.jpg"/>
//1.cms.s81c.com/sites/default/files/2022-05-16/security-five-levers-444x254.jpg
<img alt="Screenshot of product on a laptop frame" class="" loading="lazy" src="//1.cms.s81c.com/sites/default/files/2021-12-07/10072019-t-bt-MaaS360-watson-23210-700x420_6.png"/>
//1.cms.s81c.com/sites/default/files/2021-12-07/10072019-t-bt-MaaS360-watson-23210-700x420_6.png
<img alt="Screenshot of product on a laptop frame" class="" loading="lazy" src="//1.cms.s81c.com/sites/default/files/2021-12-07/IBM-Cloud-23059-700x420_6.png"/>
//1.cms.s81c.com/sites/default/files/2021-12-07/IBM-Cloud-23059-700x420_6.png
<img alt="Screenshot of product on a laptop frame" class="" loading="lazy" src="//1.cms.s81c.com/sites/default/files/2021-12-07/datastage-trial1_7.png"/>
//1.cms.s81c.com/sites/default/files/2021-12-07/datastage-trial1_7.png
<img alt="Screenshot of product on a laptop frame" class="" loading="lazy" src="//1.cms.s81c.com/sites/default/files/2021-12-07/Watson-speech-to-text-23705-700x420_6.png"/>
//1.cms.s81c.com/sites/default/files/2021-12-07/Watson-speech-to-text-23705-700x420_6.png

## Scrape data from HTML tables

In [11]:
#The below url contains an html table with data about colors and color codes.
url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/labs/datasets/HTMLColorCodes.html"

In [12]:
# get the contents of the webpage in text format and store in a variable called data
data  = requests.get(url).text

In [13]:
soup = BeautifulSoup(data,"html.parser")

In [15]:
#find a html table in the web page
table = soup.find('table') # in html table is represented by the tag <table>
print(table)

<table border="1" class="main-table">
<tr>
<td>Number </td>
<td>Color</td>
<td>Color Name</td>
<td>Hex Code<br/>#RRGGBB</td>
<td>Decimal Code<br/>(R,G,B)</td>
</tr>
<tr>
<td>1</td>
<td style="background:lightsalmon;"> </td>
<td>lightsalmon</td>
<td>#FFA07A</td>
<td>rgb(255,160,122)</td>
</tr>
<tr>
<td>2</td>
<td style="background:salmon;"> </td>
<td>salmon</td>
<td>#FA8072</td>
<td>rgb(250,128,114)</td>
</tr>
<tr>
<td>3</td>
<td style="background:darksalmon;"> </td>
<td>darksalmon</td>
<td>#E9967A</td>
<td>rgb(233,150,122)</td>
</tr>
<tr>
<td>4</td>
<td style="background:lightcoral;"> </td>
<td>lightcoral</td>
<td>#F08080</td>
<td>rgb(240,128,128)</td>
</tr>
<tr>
<td>5</td>
<td style="background:coral;"> </td>
<td>coral</td>
<td>#FF7F50</td>
<td>rgb(255,127,80)</td>
</tr>
<tr>
<td>6</td>
<td style="background:tomato;"> </td>
<td>tomato</td>
<td>#FF6347</td>
<td>rgb(255,99,71)</td>
</tr>
<tr>
<td>7</td>
<td style="background:orangered;"> </td>
<td>orangered</td>
<td>#FF4500</td>
<td>rgb(255,69,0)</td>
</tr>
<tr>
<td>8</td>
<td style="background:gold;"> </td>
<td>gold</td>
<td>#FFD700</td>
<td>rgb(255,215,0)</td>
</tr>
<tr>
<td>9</td>
<td style="background:orange;"> </td>
<td>orange</td>
<td>#FFA500</td>
<td>rgb(255,165,0)</td>
</tr>
<tr>
<td>10</td>
<td style="background:darkorange;"> </td>
<td>darkorange</td>
<td>#FF8C00</td>
<td>rgb(255,140,0)</td>
</tr>
<tr>
<td>11</td>
<td style="background:lightyellow;"> </td>
<td>lightyellow</td>
<td>#FFFFE0</td>
<td>rgb(255,255,224)</td>
</tr>
<tr>
<td>12</td>
<td style="background:lemonchiffon;"> </td>
<td>lemonchiffon</td>
<td>#FFFACD</td>
<td>rgb(255,250,205)</td>
</tr>
<tr>
<td>13</td>
<td style="background:papayawhip;"> </td>
<td>papayawhip</td>
<td>#FFEFD5</td>
<td>rgb(255,239,213)</td>
</tr>
<tr>
<td>14</td>
<td style="background:moccasin;"> </td>
<td>moccasin</td>
<td>#FFE4B5</td>
<td>rgb(255,228,181)</td>
</tr>
<tr>
<td>15</td>
<td style="background:peachpuff;"> </td>
<td>peachpuff</td>
<td>#FFDAB9</td>
<td>rgb(255,218,185)</td>
</tr>
<tr>
<td>16</td>
<td style="background:palegoldenrod;"> </td>
<td>palegoldenrod</td>
<td>#EEE8AA</td>
<td>rgb(238,232,170)</td>
</tr>
<tr>
<td>17</td>
<td style="background:khaki;"> </td>
<td>khaki</td>
<td>#F0E68C</td>
<td>rgb(240,230,140)</td>
</tr>
<tr>
<td>18</td>
<td style="background:darkkhaki;"> </td>
<td>darkkhaki</td>
<td>#BDB76B</td>
<td>rgb(189,183,107)</td>
</tr>
<tr>
<td>19</td>
<td style="background:yellow;"> </td>
<td>yellow</td>
<td>#FFFF00</td>
<td>rgb(255,255,0)</td>
</tr>
<tr>
<td>20</td>
<td style="background:lawngreen;"> </td>
<td>lawngreen</td>
<td>#7CFC00</td>
<td>rgb(124,252,0)</td>
</tr>
<tr>
<td>21</td>
<td style="background:chartreuse;"> </td>
<td>chartreuse</td>
<td>#7FFF00</td>
<td>rgb(127,255,0)</td>
</tr>
<tr>
<td>22</td>
<td style="background:limegreen;"> </td>
<td>limegreen</td>
<td>#32CD32</td>
<td>rgb(50,205,50)</td>
</tr>
<tr>
<td>23</td>
<td style="background:lime;"> </td>
<td>lime</td>
<td>#00FF00</td>
<td>rgb(0.255.0)</td>
</tr>
<tr>
<td>24</td>
<td style="background:forestgreen;"> </td>
<td>forestgreen</td>
<td>#228B22</td>
<td>rgb(34,139,34)</td>
</tr>
<tr>
<td>25</td>
<td style="background:green;"> </td>
<td>green</td>
<td>#008000</td>
<td>rgb(0,128,0)</td>
</tr>
<tr>
<td>26</td>
<td style="background:powderblue;"> </td>
<td>powderblue</td>
<td>#B0E0E6</td>
<td>rgb(176,224,230)</td>
</tr>
<tr>
<td>27</td>
<td style="background:lightblue;"> </td>
<td>lightblue</td>
<td>#ADD8E6</td>
<td>rgb(173,216,230)</td>
</tr>
<tr>
<td>28</td>
<td style="background:lightskyblue;"> </td>
<td>lightskyblue</td>
<td>#87CEFA</td>
<td>rgb(135,206,250)</td>
</tr>
<tr>
<td>29</td>
<td style="background:skyblue;"> </td>
<td>skyblue</td>
<td>#87CEEB</td>
<td>rgb(135,206,235)</td>
</tr>
<tr>
<td>30</td>
<td style="background:deepskyblue;"> </td>
<td>deepskyblue</td>
<td>#00BFFF</td>
<td>rgb(0,191,255)</td>
</tr>
<tr>
<td>31</td>
<td style="background:lightsteelblue;"> </td>
<td>lightsteelblue</td>
<td>#B0C4DE</td>
<td>rgb(176,196,222)</td>
</tr>
<tr>
<td>32</td>
<td style="background:dodgerblue;"> </td>
<td>dodgerblue</td>
<td>#1E90FF</td>
<td>rgb(30,144,255)</td>
</tr>
</table>

In [21]:
#Get all rows from the table
for row in table.find_all('tr'): # in html table row is represented by the tag <tr>
    # Get all columns in each row.
    cols = row.find_all('td') # in html a column is represented by the tag <td>
    color_name = cols[2].text # store the value in column 3 as color_name
    color_code = cols[3].text # store the value in column 4 as color_code
    print("{}--->{}".format(color_name,color_code))

Color Name--->Hex Code#RRGGBB
lightsalmon--->#FFA07A
salmon--->#FA8072
darksalmon--->#E9967A
lightcoral--->#F08080
coral--->#FF7F50
tomato--->#FF6347
orangered--->#FF4500
gold--->#FFD700
orange--->#FFA500
darkorange--->#FF8C00
lightyellow--->#FFFFE0
lemonchiffon--->#FFFACD
papayawhip--->#FFEFD5
moccasin--->#FFE4B5
peachpuff--->#FFDAB9
palegoldenrod--->#EEE8AA
khaki--->#F0E68C
darkkhaki--->#BDB76B
yellow--->#FFFF00
lawngreen--->#7CFC00
chartreuse--->#7FFF00
limegreen--->#32CD32
lime--->#00FF00
forestgreen--->#228B22
green--->#008000
powderblue--->#B0E0E6
lightblue--->#ADD8E6
lightskyblue--->#87CEFA
skyblue--->#87CEEB
deepskyblue--->#00BFFF
lightsteelblue--->#B0C4DE
dodgerblue--->#1E90FF

## Scrape data from HTML tables into a DataFrame using BeautifulSoup and Pandas

In [24]:
import pandas as pd

In [25]:
#The below url contains html tables with data about world population.
url = "https://en.wikipedia.org/wiki/World_population"

In [26]:
# get the contents of the webpage in text format and store in a variable called data
data  = requests.get(url).text

In [27]:
soup = BeautifulSoup(data,"html.parser")

In [28]:
#find all html tables in the web page
tables = soup.find_all('table') # in html table is represented by the tag <table>

In [29]:
# we can see how many tables were found by checking the length of the tables list
len(tables)

26

In [39]:
for index,table in enumerate(tables):
    if ("10 most densely populated countries" in str(table)):
        table_index = index
print(table_index)

5

In [31]:
print(tables[table_index].prettify())

<table class="wikitable sortable" style="text-align:right">
 <caption>
  10 most densely populated countries
  <small>
   (with population above 5 million)
  </small>
 </caption>
 <tbody>
  <tr>
   <th>
    Rank
   </th>
   <th>
    Country
   </th>
   <th>
    Population
   </th>
   <th>
    Area
    <br/>
    <small>
     (km
     <sup>
      2
     </sup>
     )
    </small>
   </th>
   <th>
    Density
    <br/>
    <small>
     (pop/km
     <sup>
      2
     </sup>
     )
    </small>
   </th>
  </tr>
  <tr>
   <td>
    1
   </td>
   <td align="left">
    <span class="flagicon">
     <img alt="" class="thumbborder" data-file-height="600" data-file-width="900" decoding="async" height="15" src="//upload.wikimedia.org/wikipedia/commons/thumb/4/48/Flag_of_Singapore.svg/23px-Flag_of_Singapore.svg.png" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/4/48/Flag_of_Singapore.svg/35px-Flag_of_Singapore.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/4/48/Flag_of_Singapore.svg/45px-Flag_of_Singapore.svg.png 2x" width="23"/>
    </span>
    <a href="/wiki/Singapore" title="Singapore">
     Singapore
    </a>
   </td>
   <td>
    5,704,000
   </td>
   <td>
    710
   </td>
   <td>
    8,033
   </td>
  </tr>
  <tr>
   <td>
    2
   </td>
   <td align="left">
    <span class="flagicon">
     <img alt="" class="thumbborder" data-file-height="600" data-file-width="1000" decoding="async" height="14" src="//upload.wikimedia.org/wikipedia/commons/thumb/f/f9/Flag_of_Bangladesh.svg/23px-Flag_of_Bangladesh.svg.png" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/f/f9/Flag_of_Bangladesh.svg/35px-Flag_of_Bangladesh.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/f/f9/Flag_of_Bangladesh.svg/46px-Flag_of_Bangladesh.svg.png 2x" width="23"/>
    </span>
    <a href="/wiki/Bangladesh" title="Bangladesh">
     Bangladesh
    </a>
   </td>
   <td>
    172,910,000
   </td>
   <td>
    143,998
   </td>
   <td>
    1,201
   </td>
  </tr>
  <tr>
   <td>
    3
   </td>
   <td align="left">
    <p>
     <span class="flagicon">
      <img alt="" class="thumbborder" data-file-height="216" data-file-width="432" decoding="async" height="12" src="//upload.wikimedia.org/wikipedia/commons/thumb/0/00/Flag_of_Palestine.svg/23px-Flag_of_Palestine.svg.png" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/0/00/Flag_of_Palestine.svg/35px-Flag_of_Palestine.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/0/00/Flag_of_Palestine.svg/46px-Flag_of_Palestine.svg.png 2x" width="23"/>
     </span>
     <a href="/wiki/State_of_Palestine" title="State of Palestine">
      Palestine
     </a>
    </p>
   </td>
   <td>
    5,266,785
   </td>
   <td>
    6,020
   </td>
   <td>
    847
   </td>
  </tr>
  <tr>
   <td>
    4
   </td>
   <td align="left">
    <span class="flagicon">
     <img alt="" class="thumbborder" data-file-height="600" data-file-width="900" decoding="async" height="15" src="//upload.wikimedia.org/wikipedia/commons/thumb/5/59/Flag_of_Lebanon.svg/23px-Flag_of_Lebanon.svg.png" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/5/59/Flag_of_Lebanon.svg/35px-Flag_of_Lebanon.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/5/59/Flag_of_Lebanon.svg/45px-Flag_of_Lebanon.svg.png 2x" width="23"/>
    </span>
    <a href="/wiki/Lebanon" title="Lebanon">
     Lebanon
    </a>
   </td>
   <td>
    6,856,000
   </td>
   <td>
    10,452
   </td>
   <td>
    656
   </td>
  </tr>
  <tr>
   <td>
    5
   </td>
   <td align="left">
    <span class="flagicon">
     <img alt="" class="thumbborder" data-file-height="600" data-file-width="900" decoding="async" height="15" src="//upload.wikimedia.org/wikipedia/commons/thumb/7/72/Flag_of_the_Republic_of_China.svg/23px-Flag_of_the_Republic_of_China.svg.png" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/7/72/Flag_of_the_Republic_of_China.svg/35px-Flag_of_the_Republic_of_China.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/7/72/Flag_of_the_Republic_of_China.svg/45px-Flag_of_the_Republic_of_China.svg.png 2x" width="23"/>
    </span>
    <a href="/wiki/Taiwan" title="Taiwan">
     Taiwan
    </a>
   </td>
   <td>
    23,604,000
   </td>
   <td>
    36,193
   </td>
   <td>
    652
   </td>
  </tr>
  <tr>
   <td>
    6
   </td>
   <td align="left">
    <span class="flagicon">
     <img alt="" class="thumbborder" data-file-height="600" data-file-width="900" decoding="async" height="15" src="//upload.wikimedia.org/wikipedia/commons/thumb/0/09/Flag_of_South_Korea.svg/23px-Flag_of_South_Korea.svg.png" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/0/09/Flag_of_South_Korea.svg/35px-Flag_of_South_Korea.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/0/09/Flag_of_South_Korea.svg/45px-Flag_of_South_Korea.svg.png 2x" width="23"/>
    </span>
    <a href="/wiki/South_Korea" title="South Korea">
     South Korea
    </a>
   </td>
   <td>
    51,781,000
   </td>
   <td>
    99,538
   </td>
   <td>
    520
   </td>
  </tr>
  <tr>
   <td>
    7
   </td>
   <td align="left">
    <span class="flagicon">
     <img alt="" class="thumbborder" data-file-height="720" data-file-width="1080" decoding="async" height="15" src="//upload.wikimedia.org/wikipedia/commons/thumb/1/17/Flag_of_Rwanda.svg/23px-Flag_of_Rwanda.svg.png" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/1/17/Flag_of_Rwanda.svg/35px-Flag_of_Rwanda.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/1/17/Flag_of_Rwanda.svg/45px-Flag_of_Rwanda.svg.png 2x" width="23"/>
    </span>
    <a href="/wiki/Rwanda" title="Rwanda">
     Rwanda
    </a>
   </td>
   <td>
    12,374,000
   </td>
   <td>
    26,338
   </td>
   <td>
    470
   </td>
  </tr>
  <tr>
   <td>
    8
   </td>
   <td align="left">
    <span class="flagicon">
     <img alt="" class="thumbborder" data-file-height="600" data-file-width="1000" decoding="async" height="14" src="//upload.wikimedia.org/wikipedia/commons/thumb/5/56/Flag_of_Haiti.svg/23px-Flag_of_Haiti.svg.png" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/5/56/Flag_of_Haiti.svg/35px-Flag_of_Haiti.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/5/56/Flag_of_Haiti.svg/46px-Flag_of_Haiti.svg.png 2x" width="23"/>
    </span>
    <a href="/wiki/Haiti" title="Haiti">
     Haiti
    </a>
   </td>
   <td>
    11,578,000
   </td>
   <td>
    27,065
   </td>
   <td>
    428
   </td>
  </tr>
  <tr>
   <td>
    9
   </td>
   <td align="left">
    <span class="flagicon">
     <img alt="" class="thumbborder" data-file-height="600" data-file-width="900" decoding="async" height="15" src="//upload.wikimedia.org/wikipedia/commons/thumb/2/20/Flag_of_the_Netherlands.svg/23px-Flag_of_the_Netherlands.svg.png" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/2/20/Flag_of_the_Netherlands.svg/35px-Flag_of_the_Netherlands.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/2/20/Flag_of_the_Netherlands.svg/45px-Flag_of_the_Netherlands.svg.png 2x" width="23"/>
    </span>
    <a href="/wiki/Netherlands" title="Netherlands">
     Netherlands
    </a>
   </td>
   <td>
    17,730,000
   </td>
   <td>
    41,526
   </td>
   <td>
    427
   </td>
  </tr>
  <tr>
   <td>
    10
   </td>
   <td align="left">
    <span class="flagicon">
     <img alt="" class="thumbborder" data-file-height="800" data-file-width="1100" decoding="async" height="15" src="//upload.wikimedia.org/wikipedia/commons/thumb/d/d4/Flag_of_Israel.svg/21px-Flag_of_Israel.svg.png" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/d/d4/Flag_of_Israel.svg/32px-Flag_of_Israel.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/d/d4/Flag_of_Israel.svg/41px-Flag_of_Israel.svg.png 2x" width="21"/>
    </span>
    <a href="/wiki/Israel" title="Israel">
     Israel
    </a>
   </td>
   <td>
    9,530,000
   </td>
   <td>
    22,072
   </td>
   <td>
    432
   </td>
  </tr>
 </tbody>
</table>

In [36]:
population_data = pd.DataFrame(columns=["Rank", "Country", "Population", "Area", "Density"])

for row in tables[table_index].tbody.find_all("tr"):
    col = row.find_all("td")
    if (col != []):
        rank = col[0].text.strip()
        country = col[1].text.strip()
        population = col[2].text.strip()
        area = col[3].text.strip()
        density = col[4].text.strip()
        population_data = population_data.append({"Rank":rank, "Country":country, "Population":population, "Area":area, "Density":density}, ignore_index=True)

population_data

/tmp/ipykernel_141918/86494848.py:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  population_data = population_data.append({"Rank":rank, "Country":country, "Population":population, "Area":area, "Density":density}, ignore_index=True)
/tmp/ipykernel_141918/86494848.py:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  population_data = population_data.append({"Rank":rank, "Country":country, "Population":population, "Area":area, "Density":density}, ignore_index=True)
/tmp/ipykernel_141918/86494848.py:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  population_data = population_data.append({"Rank":rank, "Country":country, "Population":population, "Area":area, "Density":density}, ignore_index=True)
/tmp/ipykernel_141918/86494848.py:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  population_data = population_data.append({"Rank":rank, "Country":country, "Population":population, "Area":area, "Density":density}, ignore_index=True)
/tmp/ipykernel_141918/86494848.py:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  population_data = population_data.append({"Rank":rank, "Country":country, "Population":population, "Area":area, "Density":density}, ignore_index=True)
/tmp/ipykernel_141918/86494848.py:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  population_data = population_data.append({"Rank":rank, "Country":country, "Population":population, "Area":area, "Density":density}, ignore_index=True)
/tmp/ipykernel_141918/86494848.py:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  population_data = population_data.append({"Rank":rank, "Country":country, "Population":population, "Area":area, "Density":density}, ignore_index=True)
/tmp/ipykernel_141918/86494848.py:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  population_data = population_data.append({"Rank":rank, "Country":country, "Population":population, "Area":area, "Density":density}, ignore_index=True)
/tmp/ipykernel_141918/86494848.py:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  population_data = population_data.append({"Rank":rank, "Country":country, "Population":population, "Area":area, "Density":density}, ignore_index=True)
/tmp/ipykernel_141918/86494848.py:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  population_data = population_data.append({"Rank":rank, "Country":country, "Population":population, "Area":area, "Density":density}, ignore_index=True)

  Rank      Country   Population     Area Density
0    1    Singapore    5,704,000      710   8,033
1    2   Bangladesh  172,910,000  143,998   1,201
2    3    Palestine    5,266,785    6,020     847
3    4      Lebanon    6,856,000   10,452     656
4    5       Taiwan   23,604,000   36,193     652
5    6  South Korea   51,781,000   99,538     520
6    7       Rwanda   12,374,000   26,338     470
7    8        Haiti   11,578,000   27,065     428
8    9  Netherlands   17,730,000   41,526     427
9   10       Israel    9,530,000   22,072     432

## Scrape data from HTML tables into a DataFrame using BeautifulSoup and read_html

In [19]:
pd.read_html(str(tables[5]), flavor='bs4')

[   Rank      Country  Population  Area(km2)  Density(pop/km2)
 0     1    Singapore     5704000        710              8033
 1     2   Bangladesh   172910000     143998              1201
 2     3    Palestine     5266785       6020               847
 3     4      Lebanon     6856000      10452               656
 4     5       Taiwan    23604000      36193               652
 5     6  South Korea    51781000      99538               520
 6     7       Rwanda    12374000      26338               470
 7     8        Haiti    11578000      27065               428
 8     9  Netherlands    17730000      41526               427
 9    10       Israel     9530000      22072               432]

In [38]:
population_data_read_html = pd.read_html(str(tables[5]), flavor='bs4')[0]

population_data_read_html

   Rank      Country  Population  Area(km2)  Density(pop/km2)
0     1    Singapore     5704000        710              8033
1     2   Bangladesh   172910000     143998              1201
2     3    Palestine     5266785       6020               847
3     4      Lebanon     6856000      10452               656
4     5       Taiwan    23604000      36193               652
5     6  South Korea    51781000      99538               520
6     7       Rwanda    12374000      26338               470
7     8        Haiti    11578000      27065               428
8     9  Netherlands    17730000      41526               427
9    10       Israel     9530000      22072               432

## Scrape data from HTML tables into a DataFrame using read_html

In [21]:
dataframe_list = pd.read_html(url, flavor='bs4')

In [22]:
len(dataframe_list)

26

In [23]:
dataframe_list[5]

   Rank      Country  Population  Area(km2)  Density(pop/km2)
0     1    Singapore     5704000        710              8033
1     2   Bangladesh   172910000     143998              1201
2     3    Palestine     5266785       6020               847
3     4      Lebanon     6856000      10452               656
4     5       Taiwan    23604000      36193               652
5     6  South Korea    51781000      99538               520
6     7       Rwanda    12374000      26338               470
7     8        Haiti    11578000      27065               428
8     9  Netherlands    17730000      41526               427
9    10       Israel     9530000      22072               432

In [25]:
pd.read_html(url, match="10 most densely populated countries", flavor='bs4')[0]

   Rank      Country  Population  Area(km2)  Density(pop/km2)
0     1    Singapore     5704000        710              8033
1     2   Bangladesh   172910000     143998              1201
2     3    Palestine     5266785       6020               847
3     4      Lebanon     6856000      10452               656
4     5       Taiwan    23604000      36193               652
5     6  South Korea    51781000      99538               520
6     7       Rwanda    12374000      26338               470
7     8        Haiti    11578000      27065               428
8     9  Netherlands    17730000      41526               427
9    10       Israel     9530000      22072               432